@{ ViewData["Title"] = "Order Page"; }

<div class="container">
    <div class="card card-light">
        <div class="card-header">
            <h3 class="card-title font-weight-bold">Order Information</h3>

        </div>
        <div class="card-body">
            <table id="tblData" class="table table-bordered table-hover" style="width:100%;">
                <thead>
                    <tr>

                        <th>User Name</th>
                        <th>Order Date</th>
                        <th>TotAmount</th>
                        <th>Paid Amount</th>
                        <th>Order Status</th>
                        <th>Current Status</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div id="action" style="display: none;">
    <div class="text-center d-flex justify-content-center">

        <a class="btn-sm btn-primary text-white" style="cursor:pointer;">
            View
        </a>

    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="~/css/bundles/dataTables.min.css">
    <link rel="stylesheet" href="~/css/bundles/sweetalert2.min.css">
    <link rel="stylesheet" href="~/css/bundles/toastr.min.css">
}

@section Scripts{
    <script src="~/js/bundles/dataTables.min.js"></script>
    <script src="~/js/bundles/sweetalert2.min.js"></script>
    <script src="~/js/bundles/toastr.min.js"></script>
    <script>"use strict";
    let userTable;

    $(function () {
        userTable = app.module.controls.load();
    });

    let app = {
        module: {
            controls: {
                load: function () {
                    return $("#tblData").DataTable({
                        ajax: {
                            url: "/Main/Order/GetAllOrder",
                        },
                        scrollX: true,
                        columns: [
                            { data: "user", autoWidth: true },
                            { data: "date", autoWidth: true },
                            { data: "totAmt", autoWidth: true },
                            { data: "paidAmt", autoWidth: true },
                            { data: "orderStatus", autoWidth: true },
                            { data: "curStatus", autoWidth: true },
                            {
                                data: "id",
                                render: function (data, type, row) {
                                    $("#action .btn-primary").attr(
                                        "href",
                                        `/Main/Order/PayOrderRcpt/${data}`
                                    );
                                    return $("#action").clone().html();
                                },
                                autoWidth: true,
                            },
                        ],
                    });
                },
            },
        },
    };</script>


}
