@{ ViewData["Title"] = "Books Page"; }

<div class="container">
    <div class="card card-light">
        <div class="card-header">
            <h3 class="card-title font-weight-bold">Books Information</h3>
            <div class="card-tools">
               
            </div>
        </div>
        <div class="card-body">
            <table id="tblData" class="table table-bordered table-hover" style="width:100%;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>ISBN</th>
                        <th>Author</th>
                        <th>Price</th>
                        <th>Qty</th>
                        
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div id="action" style="display: none;">
    <div class="text-center d-flex justify-content-center">
       

    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="~/css/bundles/dataTables.min.css">
    <link rel="stylesheet" href="~/css/bundles/sweetalert2.min.css">
    <link rel="stylesheet" href="~/css/bundles/toastr.min.css">
}

@section Scripts{
    <script src="~/js/bundles/dataTables.min.js"></script>
    <script src="~/js/bundles/sweetalert2.min.js"></script>
    <script src="~/js/bundles/toastr.min.js"></script>
    <script>"use strict";
    let userTable;

    $(function () {
        userTable = app.module.controls.load();
    });

    let app = {
        module: {
            controls: {
                load: function () {
                    return $("#tblData").DataTable({
                        ajax: {
                            url: "/Main/Print/GetAllBook",
                        },
                        scrollX: true,
                        columns: [
                            { data: "name", autoWidth: true },
                            { data: "isbn", autoWidth: true },
                            { data: "author", autoWidth: true },
                            { data: "price", autoWidth: true },
                            { data: "qty", autoWidth: true },
                           
                        ],
                        dom: 'Bfrtip',
                        buttons: [
                            'print'
                        ]
                    });
                },
            },
        },
    };</script>


}
