﻿<div class="row">
    <div class="col">
        <button type="submit" id="btnCreate" class="btn btn-success form-control">Create</button>
    </div>
    <div class="col">
        <a asp-action="Index" id="btnBackToList" class="btn btn-info form-control">Back to List</a>
    </div>
</div>