@model int
<div class="row">
    <div class="col">
        <button type="submit" id="btnUpdate" class="btn btn-warning form-control" asp-route-id="@Model">Update</button>
    </div>
    <div class="col">
        <a asp-action="Index" id="btnBackToList" class="btn btn-info form-control">Back to List</a>
    </div>
</div>