@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EBook</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"> 
    <link rel="stylesheet"
        href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/css/bundles/style.min.css">
    @await RenderSectionAsync("Styles", required: false)

<style>
    [class*=sidebar-dark-] {
        background-color: #002244;
    }
</style>
</head>


<body class="hold-transition sidebar-mini layout-fixed">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light border-bottom-0">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <partial name="_LoginPartial" />
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary">
            <!-- Brand Logo -->
            <a href="~/template/index3.html" class="brand-link border-bottom-0">
                <img src="~/template/dist/img/AdminLTELogo.png" alt="AdminLTE Logo"
                    class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light font-weight-bold">E-Book</span>
            </a>


            <!-- Sidebar -->
            <div class="sidebar text-sm">
                <!-- Sidebar user (optional) -->
                @if (SignInManager.IsSignedIn(User))
                {
                    @await Component.InvokeAsync("UserName")
                }

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->

                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Home" asp-area="Main" class="nav-link">
                                <i class="nav-icon fas fa-chalkboard-teacher"></i>
                                <p>
                                    Dashboard
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Book Manager
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>

                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="Book" asp-area="Main" class="nav-link">
                                        <i class="far fa-circle nav-icon" style="font-size: small;"></i>
                                        <p>Manage Books</p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-action="Create" asp-controller="Book" asp-area="Main" class="nav-link">
                                        <i class="far fa-circle nav-icon" style="font-size: small;"></i>
                                        <p>Create Books</p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-action="SetQty" asp-controller="Book" asp-area="Main" class="nav-link">
                                        <i class="far fa-circle nav-icon" style="font-size: small;"></i>
                                        <p>Set Books Quantity</p>
                                    </a>
                                </li>
                            </ul>
                        </li> 
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-calendar"></i>
                                <p>
                                    Orders Manager
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>

                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="Order" asp-area="Main" class="nav-link">
                                        <i class="far fa-circle nav-icon" style="font-size: small;"></i>
                                        <p>Manage Order</p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-action="PayOrder" asp-controller="Order" asp-area="Main" class="nav-link">
                                        <i class="far fa-circle nav-icon" style="font-size: small;"></i>
                                        <p>Pay Order</p>
                                    </a>
                                </li>
                            </ul>
                           
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-receipt"></i>
                                <p>
                                    Reports Manager
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>

                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="Print" asp-area="Main" class="nav-link">
                                        <i class="far fa-circle nav-icon" style="font-size: small;"></i>
                                        <p>Orders</p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-action="Books" asp-controller="Print" asp-area="Main" class="nav-link">
                                        <i class="far fa-circle nav-icon" style="font-size: small;"></i>
                                        <p>Books</p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-action="ReciveAmount" asp-controller="Print" asp-area="Main" class="nav-link">
                                        <i class="far fa-circle nav-icon" style="font-size: small;"></i>
                                        <p>Set Books Quantity</p>
                                    </a>
                                </li>
                            </ul> 
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-action="OnProcess" asp-controller="Print" asp-area="Main" class="nav-link">
                                        <i class="far fa-circle nav-icon" style="font-size: small;"></i>
                                        <p>Set Books Quantity</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-users"></i>
                                <p>
                                    User Manager
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>

                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-action="CustomerDetails" asp-controller="User" asp-area="Main" class="nav-link">
                                        <i class="far fa-circle nav-icon" style="font-size: small;"></i>
                                        <p>Manage Customer</p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="User" asp-area="Main" class="nav-link">
                                        <i class="far fa-circle nav-icon" style="font-size: small;"></i>
                                        <p>Manage Users</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                @* <div class="container-fluid">
                    <div class="row mb-2">
                    <div class="col-sm-6">
                    <h1>Blank Page</h1>
                    </div>
                    <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Blank Page</li>
                    </ol>
                    </div>
                    </div>
                    </div><!-- /.container-fluid --> *@
            </section>

            <section class="content">
                @RenderBody()
            </section>

            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        @* <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
            <b>Version</b> 3.2.0-rc
            </div>
            <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights
            reserved.
            </footer> *@

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <script src="~/js/bundles/script.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
