@using APP.Session
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContext
@{
    
}

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="lnr lnr-user"></span>
     
    </a>
    <ul class="dropdown-menu ">
        <li class="single-cart-list">
            <a asp-area="Public" asp-controller="Home" asp-action="UserDetails"><span class="lnr lnr-cog"></span>.     User Infomation</a>
        </li>
        <li class="single-cart-list">
            <a asp-area="Public" asp-controller="Home" asp-action="ViewCart"><span class="lnr lnr-cart"></span>.     My Cart</a>
        </li>
        <li class="single-cart-list">
            <a asp-area="Public" asp-controller="Home" asp-action="MyOrders"><span class="lnr lnr-chart-bars"></span>.     My Orders</a>
        </li>
       
    </ul>
</li>
@*/.dropdown*@