@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="card card-light">
        <div class="card-header">
            <h3 class="card-title font-weight-bold">Admin User Accounts</h3>
            <div class="card-tools">
                <a class="btn-sm btn-info text-white" asp-area="Main" asp-controller="User" asp-action="Create">
                    Create New Account
                </a>
            </div>
        </div>
        <div class="card-body">
            <table id="tblData" class="table table-bordered table-hover" style="width:100%;">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Name</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div id="action" style="display: none;">
    <div class="text-center d-flex justify-content-center">
        <a class="btn-sm btn-success text-white mx-2" style="cursor:pointer">
            Edit Profile
        </a>
        <a class="btn-sm btn-primary text-white" style="cursor:pointer;">
            Rest Password
        </a>
    </div>
</div>

@section Styles{
<link rel="stylesheet" href="~/css/bundles/dataTables.min.css">
<link rel="stylesheet" href="~/css/bundles/sweetalert2.min.css">
<link rel="stylesheet" href="~/css/bundles/toastr.min.css">
}

@section Scripts{
<script src="~/js/bundles/dataTables.min.js"></script>
<script src="~/js/bundles/sweetalert2.min.js"></script>
<script src="~/js/bundles/toastr.min.js"></script>
<script src="~/js/custom/user/index.js"></script>
}
