@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="card card-light">
        <div class="card-header">
            <h3 class="card-title font-weight-bold">System Permissions</h3>
        </div>
        <div class="card-body">
            <table id="tblData" class="table table-bordered table-hover" style="width:100%;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Styles{
<link rel="stylesheet" href="~/css/bundles/dataTables.min.css">
}

@section Scripts{
<script src="~/js/bundles/dataTables.min.js"></script>
<script src="~/js/custom/user/viewPermissions.js"></script>
}
